import "./node_modules/@fortawesome/fontawesome-free/css/all.css";

<div#app.column>
    <h1>Welcome <i.fas.fa-umbrella></i>o Marko Weather <i.fas.fa-rainbow></i>pp</h1>
    <h2>To see the weather just enter the name of the city and click on the "show".</h2>
    <weather />
</div>